*{
    padding:0px;
    margin:0px;
    font-style: italic;
}

form{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:500px;
    align-items: center;
    color: rgb(253, 0, 198);
    background-image: url("Josefina\ Duret.png")
}
form div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subm{
    height:30px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}